
.Titre {
    text-align: center;
    color: #208997;
    font-weight: bold;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 4rem;
    padding: 5px 0px 0px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 160px;
    height: 160px;
}

.MonCompte {
    position: absolute;
    top: 6%;
    right: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MonCompteMenu {
    display: none;
    z-index: 1;
    margin-top: 0%;
}

.MonCompte:hover .MonCompteMenu {
    display: block;
}

.buttonC {
    background-color: #208997;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    margin: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.buttonC:hover {
    background-color: #208997;
    color: white;
}

#buttonC2 {
    background-color: #208997;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    list-style: none;
    font-size: 22px;
    margin: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

#buttonC2:hover {
    background-color: #208997;
    color: white;
}

.modal,
.modal2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #8dbcc2, #208997);
    border: 3px solid #000;
    padding: 20px;
    display: none;
    z-index: 9999;
}