


h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="file"] {
    margin-right: 10px;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.canvas-background{
    background-color: white;
}
.chart-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .analysecode{
    margin:auto ;
    width: 800px;
    border-radius: 20px;
    padding: 15px;
    padding-top: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(134, 134, 134, 0.4);
}