.data-name {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  color: #222222 !important;
}

.date {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

#description {
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  margin-left: 50px;
}