.data-name {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  color: #222222 !important;
}

.date {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

#description,
#boutton {
  background-color: white;
  padding-top: 2%;
  margin-left: 10%;
  padding-left: 30px;
  margin-right: 10%;
}