
#footer {
  clip-path: polygon(68.3% 23%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  background-color: #0e8769;
  text-align: center;
  }
  
footer {
  background-color: #0e8769 !important;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: white;
  text-decoration: none;
}