/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.small_header {
    box-shadow: 0 0 7px rgba(0,0,0,0.1) !important;
}

.small_header img {
    width: 35px !important;
    height: 35px !important;  
    
}

#logo {
    transition: 0.8s;
    width: 50px;
    height: 50px;
    

}
#header {
    box-shadow: none;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    transition: 0.4s;
    z-index: 20;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    width: 80px;
    height: auto;
  }
  #nav ul {
    list-style: none;
    display: flex;
}

#nav ul li {
  margin-left: 20px;
}

#nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#nav ul li a:hover {
  color: #54b6ba;
}

.buttonC a {
  padding: 10px 15px;
  background-color: #54b6ba;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.buttonC a:hover {
  background-color: #54b6ba;
}

