/* styles/component/manageTeam.css */

/* Styles généraux */

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Styles pour l'élément #manageTeam */
  #manageTeam {
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
  }
  
  #manageTeam p {
    margin-bottom: 10px;
  }
  
  /* Styles pour la liste des membres */
  .member-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  
  
  .member-list li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Styles pour les boutons */
  #manageTeam button,
  .buttons button {
    color: #fff;
    border: none;
    padding: 10px 16px; 
    margin-left: 0px;
    font-size: 14px; 
    cursor: pointer;
    margin-top: 10px;
  }
  
  #manageTeam button.sendMsg {
    background-color: #0088cc; /* Couleur bleue */
  }
  
  #manageTeam button.suppMember,
  #manageTeam button.suppTeam,
  .buttons button.cancel {
    background-color: #ff4d4d; /* Couleur rouge */
  }
  
  #manageTeam button.addMember,
  .buttons button.confirm {
    background-color: #00af7e; /* Couleur verte */
  }
  
  
  #manageTeam button.Bsuggestion{
    background-color: #162a53;
  }
  
  #manageTeam a {
    color: #00af7e;
    text-decoration: none;
  }
  #red{
    color: red;
  }