
.profil {
    background-image: linear-gradient(100deg,#0e8769 0%,#0c71c3 100%) !important;
    color:white;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    line-height: 1.4em;
    display: flex;
    justify-content: first baseline;
    align-items:flex-start;
    padding-bottom: 130px;
}

.profil_block {
    background-color: white;
    color: #9c9c9c;
    margin: 50px;
    padding: 50px 30px;
    margin-right: 200px;
    text-align: left;

    
}

.profil_block table tr th,.profil_block table tr td {
    padding-bottom: 18px;
    padding-right: 50px;
}


#Confirmer_MotDePasse_Etudiant{
    display: none;
}

#Confirmer_MotDePasse_Gestionnaire{
    display: none;
}

#Confirmer_MotDePasse_Admin{
    display: none;
}

#Ancien_MotDePasse_Etudiant{
    display: none;
}

#Ancien_MotDePasse_Gestionnaire{
    display: none;
}

#Ancien_MotDePasse_Admin{
    display: none;
}

.smaller_profil table tr th,.smaller_profil table tr td {
    padding-bottom: 0px;
}
.smaller_profil table {
    min-width: 525px;

}
.projects {
    margin: 50px;
}
