.mdp {
    display: flex;
    /* Ajoutez cette propriété pour aligner les éléments côte à côte */
    align-items: center;
    /* Ajoutez cette propriété pour centrer les éléments verticalement */
}

.mdp h2 {
    margin-right: 10px;
    /* Ajoutez cette propriété pour ajouter une marge entre les éléments */
}

.nomUtilisateur {
    display: flex;
    /* Ajoutez cette propriété pour aligner les éléments côte à côte */
    align-items: center;
    /* Ajoutez cette propriété pour centrer les éléments verticalement */
}

.nomUtilisateur h2 {
    margin-right: 10px;
    /* Ajoutez cette propriété pour ajouter une marge entre les éléments */
}

#modifierModal {
    display: none;
}