h1 {
    margin-bottom: 10px;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  #liste-projets {
    margin-bottom: 20px;
  }
  
  #liste-equipes {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .nom-equipe {
    font-weight: bold;
  }
  
  .messages,
  .reponses-questionnaire {
    margin-top: 10px;
  }
  
  .reponses-questionnaire p {
    margin-bottom: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin-right: 10px;
  }
  
  #liste-questionnaires {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .questionnaire {
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .questionnaire p {
    margin: 0;
  }
  
  @media screen and (max-width: 768px) {
    .questionnaire {
      width: 100%;
    }
  }
  