body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #2b2b2b;
    line-height: 1.7em;
    font-weight: 500;
    background-color: rgb(216, 216, 216);  
      
}

html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

  #content {
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 100px;
    width: 100%;
    
  }
  
  #content h1 {
    margin-top: 0;
  }


article, aside, footer, header, hgroup, nav, section {
    display: block;
}



button {
  background-color: #0e8769;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  transition: color 0.3s ease;    
  font-family: 'Ubuntu',Helvetica,Arial,Lucida,sans-serif !important;
  cursor: pointer;
}

button:hover {
  color: #b7b7b7;
}
